.body-carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: mistyrose;
    
}
.carrito-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(240, 216, 214, 0.527);
    transition: transform 0.3s ease;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.726);

  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .lista1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(240, 216, 214, 0.527);
    transition: background-color 0.3s ease;
  }
  
  
  
  
  
  
  
  input[type="number"] {
    width: 40px;
    text-align: center;
  }
  
  p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #333;
  }
  
  .boton4-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .boton4 {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin: 5px;
  }
  
  .boton4:hover {
    background-color: #9191bd;
    color: #fff;
  }
  